.profile-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto auto;
}
.medical-form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto auto;
}
.members{
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
    justify-content: space-evenly;
}
.member{
    width: 300px;
    height: 300px;
}
