<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Watson Visual Recognition...</p>
</ngx-spinner>

<div class="disaster">
  <div class="upload-action">
    <button mat-raised-button color="primary" (click)="imageInput.click()"> <mat-icon>attach_file
      </mat-icon>Upload Image</button>
    <input hidden type="file" accept="image/*" #imageInput (change)="processFile(imageInput)" name="image" />
    <button mat-raised-button color="primary" (click)="capture()"><mat-icon>camera_enhance</mat-icon>Take a Snapshot</button>
    <button mat-raised-button color="primary" (click)="analyze()"><mat-icon>timeline</mat-icon>Analyze</button>
  </div>
  
  <mat-card class="upload-image" *ngIf="uploadImg" class="up-d-i">
      <img mat-card-image [src]="uploadImg" alt="disater" class="up-d-i">
  </mat-card>


  <div class="images-part">
    <mat-card class="image-card" *ngFor="let disaster of disasters">
      <img mat-card-image class="img" [src]="'http://localhost:8080/api/disaster/image/'+ disaster.fileName" alt="disaster">
      <mat-card-actions>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon>location_on</mat-icon>
          </button>
          <span>{{ disaster.class }} : </span>
          <span>{{ disaster.score*100 | number: '1.0-0' }}%</span>
          <div *ngIf="disaster.class == 'damaged'">
              <mat-progress-bar [value]="disaster.score*100" color="warn"></mat-progress-bar>
          </div>
          <div *ngIf="disaster.class == 'normal'">
            <mat-progress-bar [value]="disaster.score*100" color="primary"></mat-progress-bar>
          </div>
        </mat-card-actions>
    </mat-card>
    
  </div>
</div>
